body {
  color: white;
}

.hero-img {
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}

#info-container {
  background-color: rgba(46, 46, 46, 0.398);
  margin: 0 auto !important;
  max-width: 400px;
}

h1.title {
  color: white;
}

h2.title {
  color: white;
}

h2.subtitle {
  color: white;
}

#status {
  color: white;
  margin-top: 10px;
}

#weather-container {
  padding-top: 20px;
}

#location-container {
  margin-top: 20px;
}